@import url(https://fonts.googleapis.com/css?family=Open+Sans);


#mynetworkFA,
#mynetworkIO {
  height: 300px;
  width: 700px;
  border:1px solid lightgrey;
}

p {
  max-width:700px;
}

/*#mynetwork {*/
/*  border: 3px solid lightgray;*/
/*  position: relative;*/
/*  overflow: hidden;*/
/*  touch-action: pan-y;*/
/*  -webkit-user-select: none;*/
/*  -webkit-user-drag: none;*/
/*  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/
#mynetwork {
	
  position: relative;
  overflow: hidden;
  touch-action: pan-y;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}

iframe,img{
	border:none
}

.hidden{
	display:none !important
}

a{
	color:#69c;
	text-decoration:none
}

a:hover{
	color:#3498db
}

/*body{*/
/*	background:#18202a;*/
/*	font-size:14px;*/
/*	font-family:Open Sans,Helvetica,Arial,sans-serif;*/
/*	line-height:1;*/
/*	overflow:hidden;*/
/*	position:fixed*/
/*}*/
body{
	background: white;
	font-size:14px;
	font-family:Open Sans,Helvetica,Arial,sans-serif;
	line-height:1;
	overflow:hidden;
	position:fixed
}

body,main{
	height:100%;
	margin:0;
	padding:0;
	width:100%
}

#canvasArea,main{
	position:relative;
	max-height: 98%;
	height: 1100px;
}

#canvasArea{
	margin:0;
	padding:0;
	width:98%;
	background-color: white
}

#canvasArea #mynetwork{
	margin:0 0 2px;
	background-color: white;
	width:100%;
}

#canvasArea #mynetwork,#canvasArea svg{
	box-sizing:border-box;
	overflow:hidden;
	padding:0
}

#canvasArea svg{
	margin:0
}

#logo{
	position:fixed;
	padding:10px;pointer-events:none
}

#logo h2{
	color:#3498db;
	margin:0;
	line-height:.7;
	text-align:center
}

#logo h2 span{
	color:#34495e;
	font-size:.6em
}

.filterCheckbox{
	vertical-align:middle
}

.toggleOption{
	padding:8px 10px;
	min-width:50px
}

.slideOption{
	position:relative;
	margin:15px 5px
}

.slideOption .value{
	float:right
}

.slideOption input[type=range]{
	box-sizing:border-box;
	margin:0;
	-webkit-appearance:none !important;
	background:none repeat scroll 0 0 grey;
	border-radius:3px;
	height:12px;
	width:100%;
	box-shadow:none;
	left:0;
	position:relative;
	transition:all .5s ease
}

.slideOption input[type=range]:hover{
	background-color:grey
}

.slideOption input[type=range]::-webkit-slider-thumb{
	-webkit-appearance:none !important;
	background-color:grey;
	border-radius:30px;
	height:20px;
	transition:all .5s ease;
	width:20px
}

.slideOption input[type=range]::-webkit-slider-thumb:hover{
	background-color:grey
}

.slideOption input[type=range]::-webkit-slider-thumb:active{
	box-shadow:0 0 1px grey
}

#detailsArea{
	bottom:0;
	color:#bdc3c7;
	height:100%;
	position:fixed;
	right:0;
	top:0;
	width:22%;
	overflow-y:auto;
	overflow-x:hidden;
	border-left:1px solid #34495e
}

#detailsArea h1{
	border-bottom:1px solid #34495e;
	color:#ecf0f1;
	display:block;
	font-weight:100;
	font-size:1.3em;
	margin:0;
	padding:9px 0;
	text-align:center
}

#generalDetails{
	width:auto;
	box-sizing:border-box;
	height:100%
}

#generalDetails span #about{
	border-bottom:1px solid #34495e;
	display:block;
	padding:10px;
	text-align:center;
	word-wrap:break-word;
	color:#69c
}

#generalDetails h4{
	background:#1b252e;
	color:#ecf0f1;
	display:block;
	font-size:1.1em;
	font-weight:100;
	margin:0;
	padding:10px 0;
	text-align:center
}

#detailsArea #generalDetails h5{
	border-bottom:1px solid #34495e;
	font-size:.9em;
	font-weight:100;
	margin:0;
	padding:5px;
	text-align:center
}

#description{
	text-align:justify
}

.accordion-container p{
	font-size:.9em;
	line-height:1.3;
	margin:5px 10px
}

.statisticDetails span{
	padding:10px;
	font-weight:100;
	font-style:italic;
	margin:10px 0	
}

#selection-details .propDetails a{
	color:#69c
}

#selection-details .propDetails{
	font-size:.9em;
	font-weight:100;
	font-style:italic;
	padding:0 5px;
	margin: 0 0 5px;
}

#selection-details, #selection-details{
	padding:5
}

input[type=range] {
  -webkit-appearance: none;
  width: 90%;
  margin: 7px 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 90%;
  height: 6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #6699cc;
  border-radius: 1.3px;
  border: 0.05px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #646464;
  height: 20px;
  width: 10px;
  border-radius: 3px;
  background: #bdc3c7;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.05px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #79a6d2;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #6699cc;
  border-radius: 1.3px;
  border: 0.05px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #646464;
  height: 20px;
  width: 10px;
  border-radius: 3px;
  background: #bdc3c7;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #538cc6;
  border: 0.05px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #6699cc;
  border: 0.05px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #646464;
  height: 20px;
  width: 10px;
  border-radius: 3px;
  background: #bdc3c7;
  cursor: pointer;
  height: 6px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #6699cc;
}

input[type=range]:focus::-ms-fill-upper {
  background: #79a6d2;
}

@media screen and (max-device-width:1080px){
	body{
		font-size:12px
	}

	#logo h2{
		font-size:1.2em
	}

	#logo h2 span{
		font-size:.5em
	}
}

@media screen and (max-width:1080px){
	body{
		font-size:12px
	}
	
	#logo h2{
		font-size:1.2em
	}
	
	#logo h2 span{
		font-size:.5em
	}
}

@media print{
	#detailsArea{
		display:none
	}

	@page{
		margin:1cm .5cm 1cm .5cm;
		size:landscape
	}

	#canvasArea,body{
		width:100%
	}

	body{
		margin:0;
		padding:0
	}
}

.accordion-trigger{
	background:#24323e;
	cursor:pointer;
	padding:.5em
}

.accordion-trigger.accordion-trigger-active:before{
	padding-right:4px;
	content:"\25BC"
}

.accordion-trigger:not(.accordion-trigger-active):before{
	padding-right:4px;
	content:"\25BA"
}

.accordion-container.scrollable{
	max-height:40%;
	overflow:auto
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 66%; /* 2/3 width */
    height: 66%; /* 2/3 height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-link {
	text-align: center;
	text-decoration: underline;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.popupDetails {
	    font-size: 16px;;
	    color: black;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
